**/bin/**
**/obj/**
**/packages/**

**.suo
**.user
**.DotSettings

/src/VisualJsonEditor.sln.ide
/src/UpgradeLog.htm
/src/VisualJsonEditor.sln.GhostDoc.xml
/src/VisualJsonEditor/VisualJsonEditor.previous.nugetreferenceswitcher
/src/.vs/
