<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="3.4.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="net45" />
  <package id="MyToolkit" version="2.3.31.0" targetFramework="net45" />
  <package id="MyToolkit.Extended" version="2.3.31.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NJsonSchema" version="0.1.5585.25897" targetFramework="net45" />
</packages>