<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="3.4.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.0.1" targetFramework="net45" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net45" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NJsonSchema" version="8.9.6275.22295" targetFramework="net45" />
</packages>